nodered/.flows.json.backup
[
  {
    "id": "tab_edge_device",
    "type": "tab",
    "label": "Edge Device — Factory Floor",
    "disabled": false,
    "info": "Emulated edge device. Subscribes to device/+/raw (raw PLC signals), applies EU conversion, alarm logic, and OEE calculation, then publishes processed data to factory/{line}/{machine}/telemetry and factory/alerts/..."
  },

  {
    "id": "comment_arch",
    "type": "comment",
    "z": "tab_edge_device",
    "name": "ARCHITECTURE: Raw PLC signals → EU Conversion → Alarm Check → MQTT Publish",
    "info": "Raw signals arrive from Python sim on device/{machine_id}/raw\nThis flow converts, checks alarms, and republishes to factory/# topics.\nEach machine is processed independently — no shared state.",
    "x": 300,
    "y": 40,
    "wires": []
  },

  {
    "id": "mqtt_in_raw",
    "type": "mqtt in",
    "z": "tab_edge_device",
    "name": "Subscribe: device/+/raw",
    "topic": "device/+/raw",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 120,
    "wires": [["fn_eu_convert"]]
  },

  {
    "id": "fn_eu_convert",
    "type": "function",
    "z": "tab_edge_device",
    "name": "EU Conversion (ADC → Engineering Units)",
    "func": "// ── Engineering Unit Conversion ──────────────────────────────────────\n// Convert raw PLC signal values to real engineering units.\n// This is what a real edge device / SCADA system does before display.\n\nconst raw = msg.payload;\n\n// Temperature: 12-bit ADC (0-4095) → 0-120°C\nconst temp_c = (raw.AI_0_temp_adc / 4095.0) * 120.0;\n\n// Vibration: mV RMS → mm/s RMS  (sensor: 40 mV per mm/s)\nconst vib_mm_s = raw.AI_1_vib_mv / 40.0;\n\n// Current → kW  (simplified: 1A = 1 kW)\nconst power_kw = raw.AI_2_current_a;\n\n// 4-20mA → bar  (4mA = 0 bar, 20mA = 10 bar)\nconst pressure_bar = ((raw.AI_3_pressure_ma - 4.0) / 16.0) * 10.0;\n\n// Digital inputs\nconst is_running = raw.DI_0_running === 1;\nconst is_fault   = raw.DI_1_fault   === 1;\nconst has_alarm  = raw.DI_2_alarm   === 1;\n\n// Spindle speed from pulse counter (pulses per 100ms, 100-pulse encoder)\n// RPM = (pulses / 100) * (1000/100) * 60\nconst spindle_rpm = (raw.CNT_1_spindle_pulses / 100) * 600;\n\n// Tool wear % (count descends from 10000 → 0)\nconst tool_wear_pct = ((10000 - raw.CNT_2_tool_life) / 10000.0) * 100.0;\n\n// Derive state string\nlet state = 'stopped';\nif (is_fault)        state = 'fault';\nelse if (is_running) state = 'running';\nelse if (has_alarm)  state = 'idle';  // alarm but not fault\nelse                 state = 'idle';\n\n// Derive throughput from cycle counter delta\nconst prevCycles = context.get('prevCycles_' + raw.device_id) || raw.CNT_0_cycles;\nlet cycleDelta = raw.CNT_0_cycles - prevCycles;\nif (cycleDelta < 0) cycleDelta += 65536; // 16-bit rollover\ncontext.set('prevCycles_' + raw.device_id, raw.CNT_0_cycles);\nconst throughput_pph = cycleDelta * 3600; // cycles/sec * 3600\n\n// ── Build processed payload ───────────────────────────────────────────\nmsg.payload = {\n  machine_id:   raw.device_id,\n  machine_type: raw.machine_type,\n  line_id:      raw.line_id,\n  state:        state,\n  source:       'edge_device_nodered',\n  fw_version:   raw.fw_version,\n  telemetry: {\n    temperature_c:           parseFloat(temp_c.toFixed(2)),\n    vibration_mm_s:          parseFloat(vib_mm_s.toFixed(3)),\n    power_kw:                parseFloat(power_kw.toFixed(2)),\n    oil_pressure_bar:        parseFloat(pressure_bar.toFixed(2)),\n    spindle_rpm:             parseFloat(spindle_rpm.toFixed(0)),\n    tool_wear_pct:           parseFloat(tool_wear_pct.toFixed(1)),\n    throughput_pph:          parseFloat(throughput_pph.toFixed(1)),\n    cycle_count:             raw.CNT_0_cycles,\n    uptime_s:                raw.uptime_s,\n    // Raw values preserved for diagnostics\n    raw_temp_adc:            raw.AI_0_temp_adc,\n    raw_current_a:           raw.AI_2_current_a,\n    raw_pressure_ma:         raw.AI_3_pressure_ma,\n    fault_register:          raw.fault_register,\n  },\n  di: {\n    running:     raw.DI_0_running,\n    fault:       raw.DI_1_fault,\n    alarm:       raw.DI_2_alarm,\n    door_closed: raw.DI_3_door_closed,\n  },\n  timestamp: raw.timestamp_ms / 1000,\n};\n\n// Pass machine identity downstream\nmsg.machine_id = raw.device_id;\nmsg.line_id    = raw.line_id;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 120,
    "wires": [["fn_alarm_check"]]
  },

  {
    "id": "fn_alarm_check",
    "type": "function",
    "z": "tab_edge_device",
    "name": "Alarm & Threshold Logic",
    "func": "// ── Edge Alarm Logic ─────────────────────────────────────────────────\n// Runs locally on the edge device — alarms fire even if network is slow.\n// Alarm state is tracked per machine in flow context.\n\nconst d = msg.payload;\nconst t = d.telemetry;\nconst machineId = d.machine_id;\n\n// Retrieve previous alarm states for this machine\nconst prevAlarms = context.get('alarms_' + machineId) || {};\nconst alarms = [];\n\n// ── Threshold definitions ─────────────────────────────────────────────\nconst thresholds = [\n  { tag: 'temperature_c',    warn: 70,  crit: 82,  code: 'ALM-TEMP',  label: 'High Temperature' },\n  { tag: 'vibration_mm_s',   warn: 3.5, crit: 6.0, code: 'ALM-VIB',   label: 'High Vibration' },\n  { tag: 'power_kw',         warn: 20,  crit: 28,  code: 'ALM-PWR',   label: 'High Power Draw' },\n  { tag: 'tool_wear_pct',    warn: 75,  crit: 90,  code: 'ALM-TOOL',  label: 'Tool Wear Critical' },\n  { tag: 'oil_pressure_bar', warn: null, crit: 0.5, code: 'ALM-OIL',  label: 'Low Oil Pressure' },\n];\n\nfor (const th of thresholds) {\n  const val = t[th.tag];\n  if (val === undefined || val === null) continue;\n\n  let severity = null;\n  if (th.crit !== null && val >= th.crit) severity = 'critical';\n  else if (th.warn !== null && val >= th.warn) severity = 'warning';\n\n  // Low oil pressure: alarm when BELOW threshold (not above)\n  if (th.tag === 'oil_pressure_bar' && d.di.running) {\n    severity = val < th.crit ? 'critical' : null;\n  }\n\n  const wasActive = prevAlarms[th.code];\n  if (severity && !wasActive) {\n    // Rising edge — new alarm\n    alarms.push({\n      code:       th.code,\n      message:    `${th.label}: ${val} (threshold: ${th.crit || th.warn})`,\n      severity:   severity,\n      tag:        th.tag,\n      value:      val,\n      machine_id: machineId,\n      line_id:    d.line_id,\n      timestamp:  d.timestamp,\n      source:     'edge_alarm',\n    });\n    prevAlarms[th.code] = true;\n  } else if (!severity && wasActive) {\n    // Falling edge — alarm cleared\n    alarms.push({\n      code:       th.code + '-CLR',\n      message:    `${th.label} CLEARED`,\n      severity:   'info',\n      machine_id: machineId,\n      line_id:    d.line_id,\n      timestamp:  d.timestamp,\n      source:     'edge_alarm',\n    });\n    prevAlarms[th.code] = false;\n  }\n}\n\n// PLC fault register alarm\nif (t.fault_register > 0 && !prevAlarms['ALM-PLC-' + t.fault_register]) {\n  alarms.push({\n    code:       'ALM-PLC-' + t.fault_register,\n    message:    `PLC Fault Register: E${String(t.fault_register).padStart(3,'0')}`,\n    severity:   'critical',\n    machine_id: machineId,\n    line_id:    d.line_id,\n    timestamp:  d.timestamp,\n    source:     'edge_alarm',\n  });\n  prevAlarms['ALM-PLC-' + t.fault_register] = true;\n} else if (t.fault_register === 0) {\n  // Clear all PLC alarms\n  Object.keys(prevAlarms).filter(k => k.startsWith('ALM-PLC-')).forEach(k => delete prevAlarms[k]);\n}\n\ncontext.set('alarms_' + machineId, prevAlarms);\n\n// Attach alarms to message\nmsg.payload.alarms      = alarms;\nmsg.payload.alarm_count = Object.values(prevAlarms).filter(Boolean).length;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 120,
    "wires": [["fn_oee_calc"]]
  },

  {
    "id": "fn_oee_calc",
    "type": "function",
    "z": "tab_edge_device",
    "name": "OEE Calculation",
    "func": "// ── OEE Calculation ──────────────────────────────────────────────────\n// Overall Equipment Effectiveness = Availability × Performance × Quality\n// Calculated on the edge device using rolling 1-hour windows.\n\nconst d = msg.payload;\nconst t = d.telemetry;\nconst machineId = d.machine_id;\n\n// Retrieve rolling window (last 3600 samples = 1 hour at 1Hz)\nlet window = context.get('oee_window_' + machineId) || { running: 0, total: 0, goodCycles: 0, totalCycles: 0, sumPerf: 0 };\n\n// Availability: fraction of samples where machine was running\nwindow.total++;\nif (d.state === 'running') window.running++;\n\n// Performance: actual throughput vs nominal\n// Nominal throughput varies by machine type\nconst nominals = { mill: 45, lathe: 60, grinder: 55, press: 80, drill: 70, cnc: 40, conveyor: 120 };\nconst nominal = nominals[d.machine_type] || 60;\nconst perfRatio = nominal > 0 ? Math.min(1.0, t.throughput_pph / nominal) : 0;\nwindow.sumPerf += perfRatio;\n\n// Quality: assume 98% good parts unless tool wear is high\nconst qualityRate = t.tool_wear_pct > 85 ? 0.92 : 0.98;\nwindow.goodCycles   += qualityRate;\nwindow.totalCycles  += 1;\n\n// Keep window at 3600 samples maximum\nif (window.total > 3600) {\n  // Simple decay — reduce all accumulators proportionally\n  const scale = 3600 / window.total;\n  window.running     = Math.round(window.running     * scale);\n  window.sumPerf     = window.sumPerf     * scale;\n  window.goodCycles  = window.goodCycles  * scale;\n  window.totalCycles = window.totalCycles * scale;\n  window.total       = 3600;\n}\n\ncontext.set('oee_window_' + machineId, window);\n\nconst availability  = window.total > 0 ? window.running / window.total : 0;\nconst performance   = window.total > 0 ? window.sumPerf / window.total : 0;\nconst quality       = window.totalCycles > 0 ? window.goodCycles / window.totalCycles : 0;\nconst oee           = availability * performance * quality * 100;\n\nd.telemetry.oee_availability_pct  = parseFloat((availability * 100).toFixed(1));\nd.telemetry.oee_performance_pct   = parseFloat((performance  * 100).toFixed(1));\nd.telemetry.oee_quality_pct       = parseFloat((quality      * 100).toFixed(1));\nd.telemetry.oee_pct               = parseFloat(oee.toFixed(1));\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 960,
    "y": 120,
    "wires": [["fn_route"]]
  },

  {
    "id": "fn_route",
    "type": "function",
    "z": "tab_edge_device",
    "name": "Route to outputs",
    "func": "// Build individual output messages\nconst d = msg.payload;\nconst base = `factory/${d.line_id}/${d.machine_id}`;\n\n// Output 1: full telemetry\nconst telMsg = { ...msg, topic: `${base}/telemetry`, payload: JSON.stringify(d) };\n\n// Output 2: state only\nconst stateMsg = { ...msg, topic: `${base}/state`, payload: d.state };\n\n// Output 3: alarm messages (one per alarm)\nconst alarmMsgs = d.alarms.map(a => ({\n  topic: `factory/alerts/${d.line_id}/${d.machine_id}`,\n  payload: JSON.stringify(a),\n  qos: 2,\n}));\n\n// Output 4: individual tag messages\nconst tagMsgs = Object.entries(d.telemetry).map(([k, v]) => ({\n  topic: `${base}/${k}`,\n  payload: String(v),\n}));\n\n// Return as array of arrays for the 4 outputs\nreturn [ [telMsg], [stateMsg], alarmMsgs.length ? alarmMsgs : [null], tagMsgs ];\n",
    "outputs": 4,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1200,
    "y": 120,
    "wires": [
      ["mqtt_out_telemetry"],
      ["mqtt_out_state"],
      ["mqtt_out_alerts"],
      ["mqtt_out_tags"]
    ]
  },

  {
    "id": "mqtt_out_telemetry",
    "type": "mqtt out",
    "z": "tab_edge_device",
    "name": "Publish: factory/{line}/{machine}/telemetry",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 1460,
    "y": 80,
    "wires": []
  },

  {
    "id": "mqtt_out_state",
    "type": "mqtt out",
    "z": "tab_edge_device",
    "name": "Publish: factory/{line}/{machine}/state",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 1460,
    "y": 120,
    "wires": []
  },

  {
    "id": "mqtt_out_alerts",
    "type": "mqtt out",
    "z": "tab_edge_device",
    "name": "Publish: factory/alerts/... (QoS 2)",
    "topic": "",
    "qos": "2",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 1460,
    "y": 160,
    "wires": []
  },

  {
    "id": "mqtt_out_tags",
    "type": "mqtt out",
    "z": "tab_edge_device",
    "name": "Publish: individual tags",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 1460,
    "y": 200,
    "wires": []
  },

  {
    "id": "tab_dashboard",
    "type": "tab",
    "label": "Node-RED Dashboard",
    "disabled": false,
    "info": "Live monitoring dashboard built in Node-RED. Shows per-machine KPIs, alarm counts, and OEE."
  },

  {
    "id": "mqtt_in_summary",
    "type": "mqtt in",
    "z": "tab_dashboard",
    "name": "Subscribe: factory/summary",
    "topic": "factory/summary",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 100,
    "wires": [["fn_summary_extract"]]
  },

  {
    "id": "fn_summary_extract",
    "type": "function",
    "z": "tab_dashboard",
    "name": "Extract KPIs",
    "func": "const s = msg.payload;\nconst msgs = [\n  { payload: s.running,              topic: 'running' },\n  { payload: s.faulted,              topic: 'faulted' },\n  { payload: s.avg_oee_pct,          topic: 'oee' },\n  { payload: s.total_throughput_pph, topic: 'throughput' },\n  { payload: s.active_alerts,        topic: 'alerts' },\n  { payload: s.total_power_kw,       topic: 'power' },\n];\nreturn [msgs];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 100,
    "wires": [["ui_text_running", "ui_chart_oee", "ui_gauge_throughput"]]
  },

  {
    "id": "mqtt_in_alerts_dash",
    "type": "mqtt in",
    "z": "tab_dashboard",
    "name": "Subscribe: factory/alerts/#",
    "topic": "factory/alerts/#",
    "qos": "2",
    "datatype": "json",
    "broker": "mqtt_broker_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 200,
    "wires": [["fn_format_alert"]]
  },

  {
    "id": "fn_format_alert",
    "type": "function",
    "z": "tab_dashboard",
    "name": "Format Alert for UI",
    "func": "const a = msg.payload;\nconst ts = new Date(a.timestamp * 1000).toTimeString().slice(0,8);\nmsg.payload = `[${ts}] ${a.machine_id} — ${a.code}: ${a.message}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 200,
    "wires": [["ui_text_alert"]]
  },

  {
    "id": "ui_text_running",
    "type": "ui_text",
    "z": "tab_dashboard",
    "group": "ui_group_summary",
    "order": 1,
    "width": 2,
    "height": 1,
    "name": "Running Machines",
    "label": "Running",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#00e676",
    "x": 660,
    "y": 100,
    "wires": []
  },

  {
    "id": "ui_chart_oee",
    "type": "ui_chart",
    "z": "tab_dashboard",
    "group": "ui_group_trends",
    "name": "Plant OEE Trend",
    "label": "Plant OEE %",
    "order": 1,
    "width": 6,
    "height": 4,
    "setXAxis": false,
    "xAxisLabel": "",
    "xAxisFormat": "",
    "xAxisFormatType": "auto",
    "accumulate": true,
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#00e5ff","#ff6b00","#00e676","#ffd600","#ff1744"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 660,
    "y": 140,
    "wires": [[]]
  },

  {
    "id": "ui_gauge_throughput",
    "type": "ui_gauge",
    "z": "tab_dashboard",
    "group": "ui_group_summary",
    "order": 2,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Throughput Parts/hr",
    "label": "pph",
    "format": "{{value}}",
    "min": 0,
    "max": 1000,
    "colors": ["#00e676", "#ffd600", "#ff1744"],
    "seg1": 400,
    "seg2": 700,
    "className": "",
    "x": 670,
    "y": 180,
    "wires": []
  },

  {
    "id": "ui_text_alert",
    "type": "ui_text",
    "z": "tab_dashboard",
    "group": "ui_group_alerts",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Latest Alert",
    "label": "Latest Alert",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 12,
    "color": "#ff1744",
    "x": 640,
    "y": 200,
    "wires": []
  },

  {
    "id": "ui_group_summary",
    "type": "ui_group",
    "name": "Plant Summary",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },

  {
    "id": "ui_group_trends",
    "type": "ui_group",
    "name": "Trends",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },

  {
    "id": "ui_group_alerts",
    "type": "ui_group",
    "name": "Alerts",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },

  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "Factory Floor",
    "icon": "dashboard",
    "order": 1,
    "disp": true
  },

  {
    "id": "mqtt_broker_local",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-edge-device",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "nodered/status",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "online",
    "birthMsg": {},
    "closeTopic": "nodered/status",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "offline",
    "closeMsg": {},
    "willTopic": "nodered/status",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "lost",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
